{% load helper_tags %}
{% block content %}

{% for i in content %}{% load staticfiles %}


<div class="container-fluid pt-3" style="">
    <h3>{{i}}</h3>
    <h5>{{meta|hash:i|hash:'subheading'}}</h5>
    <div class="scroll row flex-row flex-sm-nowrap pt-3" style="overflow-x:scroll;">
        {% for j in content|hash:i%}

        {% with k=movies|hash:j %}
        <div class="col-sm-3 col-md-2" style="padding: 5px;">
            <div class="card card-block card-primary  card-inverse" style="background-color:#1d2124">
                <a href="http://127.0.0.1:8000/{{j}}">
                <img class="card-img-top" src="{% static k.poster %}"  alt="{{k.title}}">
                    </a>

                <!--#TODO: Decision of whether to use names or not-->

                <!--<div class="card-body">-->
                    <!--<a class="card-title" href="{{j}}" style="color:white; text-decoration:none">{{k.title}}</a>-->
                <!--</div>-->
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>

{% endfor %}

{% endblock %}