{% extends "ui/index.html" %}{% load helper_tags %}
    {% block content %}
<div style="" class="container-fluid" style="">
    <div class="row" style="padding:20px">
    <div class="col-5">{% load staticfiles %}

                <img class="card-img-top img-rounded" src="{% static detailed_movie.poster %}" alt="{{k.title}}">
    </div>

    <div class="col-7">
        <div class="card text-center">
  <div class="card-header">
      <h2>{{detailed_movie.title}}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
        <img class="card-img-top img-rounded" src="{% static detailed_movie.backdrop %}" alt="{{k.title}}">
    <p class="card-text">      <p>{{detailed_movie.overview}}</p></p>


        <p><strong>Original language</strong>: {{detailed_movie.original_language}}</p>
      <p><strong>Movie Categories</strong>:{{detailed_movie.categories}}</p>
    </h5>
  </div>
            {% if user.is_authenticated %}

  <div class="card-footer text-muted">
      <div class="row vertical-align" style="align-items: center;display: flex;">
      <div class="col" align="right">
          <strong>Rate this movie</strong>:
      </div>
      <div  class="col"  style="vertical-align: middle;">
      {% include 'ui/ratings_template.html' with movieid=detailed_movie.id %}
          </div>
      </div>
  </div>
            {% else%}
                  <div class="card-footer text-muted">
      <div class="row vertical-align" style="align-items: center;display: flex;">
          Sign in to rate this movie
          </div>
          </div>
            {% endif %}
</div>
        </div>
        </div>
        {% include 'ui/cards.html' %}
    {% endblock %}
