{% extends "ui/index.html" %}{% load helper_tags %}

{% block content %}

<div class="container" style="padding:10px">
    <h1>History of Movies Rated by You</h1>
    <h5>{{user_history|length}} movies rated</h5>

{% if user_history|length > 0%}

    {% if user_profile %}
    {% include "ui/profile_pie.html" %}
    {% endif %}
<div class="table-responsive">
      <table class="table table-bordered table-hover">
          <thead class="thead-dark ">
            <tr>
                <th>Movie Id</th>
              <th>Title</th>
              <th>Rating</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>

        {% for i in user_history %}
            <tr>
              <td><a href="{% url 'ui:movie_view' i.movieid %}">{{i.movieid}}</a></td>
              <td><a href="{% url 'ui:movie_view' i.movieid %}">{{i.title}}</a></td>
              <td>{{i.rating}}</td>
              <td>{{i.year}}</td>
            </tr>
        {% endfor %}

          </tbody>
      </table>
        </div>
{% else %}
<div class="jumbotron">
    <h1 class="display-4">Sorry! You haven't rated any movies!</h1>

  <hr class="my-4">
  <!--<p>We need you to rate some movies before you get any recommendations.</p>-->

    <p>We recommend you search functionality to find your favourite movies.</p>
  <!--<p class="lead">-->
    <!--<a class="btn btn-primary btn-lg" href="" role="button">Get a list of all movies</a>-->
  <!--</p>-->
</div>
{% endif %}
    </div>

{% endblock %}